[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.2"
djangorestframework = "==3.8.2"
django-rest-auth = "==0.9.3"
django-allauth = "==0.37.1"
coreapi = "==2.3.3"
django-rest-swagger = "==2.2.0"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
